:root{
    --titlesFont: "PT Sans", sans-serif;
    --textFont: "Open Sans",  sans-serif;

    --mainColor: #784D3C;
    --gray:#E1E1E1;
    --white: #fff;
    --black: #000;
}

.entry{
    margin: 4rem 0;
}
.entry__title{
    text-align: center;
    margin-bottom: 2rem !important;
}
.entry__img{
    margin-bottom: .5rem;
}
.entry__content{
    margin: 0 1rem;
    text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
    .entry__img{
        margin-bottom: 2rem;
        display: block;
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Desktop */
@media (min-width: 992px) {
    .entry{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    .entry__title{
        grid-column: 1/3;
    }
    .entry__img{
        max-width: 100%;
    }
}