:root{
    --titlesFont: "PT Sans", sans-serif;
    --textFont: "Open Sans",  sans-serif;

    --mainColor: #784D3C;
    --gray:#E1E1E1;
    --white: #fff;
    --black: #000;
}

.entry{
    border-bottom: 1px solid var(--gray);
    margin-bottom: 2rem;
}
.entry:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}
.button{
    display: block;
    font-family: var(--titlesFont);
    color: var(--white);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}
.entry__button{
    background-color: var(--black);
}

.tutorials{
    list-style: none;
}
.widget-tuto{
    border-bottom: 1px solid var(--gray);
    margin-bottom: 2rem;
}
.widget-tuto:last-of-type{
    border: none;
    margin-bottom: 0;
}
.widget-tuto__label,
.widget-tuto__info{
    font-size: 2rem;
}
.widget-tuto__label{
    font-family: var(--titlesFont);
    font-weight: 700;
}
.widget-tuto__info{
    font-weight: 400;
}
.tuto__button{
    background-color: var(--mainColor);
}

/* Tablet */
@media (min-width: 768px) {
    .main-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }

    .button{
        display: inline-block;
    }
}